.header {
  position: fixed;
  top: 0;
  height: rem(70px);
  width: 100%;
  margin: 0 auto;
  z-index: 150;

  &__container {
    position: relative;
    max-width: rem(1170px);
    margin: 0 auto;
  }
  &__logo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    height: rem(70px);
    width: rem(70px);
  }
  &__hamburger {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 200;
    height: rem(70px);
    width: rem(70px);
    padding: rem(23px);
    cursor: pointer;
    background: $nav-purple;
    transition: all 100ms ease-out;

    .bar {
      box-sizing: content-box;
      display: block;
      height: rem(2px);
      width: rem(24px);
      background: white;
      margin: rem(10px) 0;

      &:before, &:after {
        content: "";
        display: block;
        position: absolute;
        height: rem(2px);
        width: rem(24px);
        background: white;
        margin: 0;
        transition: all 50ms ease-out;
      }
      &:before { margin-top: rem(-6px); }
      &:after { margin-top: rem(6px); }
    }
    &.active {
      background: $pink;

      .bar {
        background: none;
        &:before {
          transition: all 100ms ease;
          transform: rotate(45deg);
          margin-top: rem(0px);
        }
        &:after {
          transition: all 100ms ease;
          transform: rotate(-45deg);
          margin-top: rem(0px);
        }
      }
      & + .header__menu {
        height: 100vh;
        transition: background 200ms ease-out;
        background: rgba(246,60,60,.90);

        div > ul {
          opacity: 1;
          transform: perspective(600px) rotateX(0deg);
          transition: all 300ms ease;
        }
        footer {
          opacity: 1;
          transition: opacity 200ms ease;
        }
      }
    }
  }
  &__menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 0vh;
    width: 100vw;
    z-index: 150;
    overflow: hidden;
    transition: background 200ms ease-out, height 200ms 200ms ease;
    background: rgba(246,60,60,0);

    &-container {
      max-width: rem(1200px);
      padding: 0 rem(15px);
      height: 100%;
      margin: 0 auto;
    }

    div > ul {
      transform: perspective(600px) rotateX(2deg);
      transition: all 300ms ease;
      opacity: 0;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 47%;
      transform: translateY(-50%);

      font-size: rem(60px);
      text-transform: uppercase;
      font-family: 'teko', sans-serif;
      letter-spacing: letterspacing(75,60);

      li {
        position: relative;
        display: inline-block;
        margin: 0 rem(30px) 0 0;

        i {
          position: absolute;
          display: inline-block;
          top: .9rem;
          right: -1.25rem;
          font-size: rem(26px);
          transition: all 200ms ease;
          transform: rotateZ(90deg);
        }
        a {
          position: relative;
          z-index: 250;
          color: rgba(255,255,255,.9);
          text-decoration: none;
          &:hover {
            color: rgba(255,255,255,1);
          }
        }
        ul {
          position: absolute;
          z-index: 200;
          display: none;
          top: rem(90px);
          left: 0;
          width: rem(600px);

          padding-left: 0;
          font-size: rem(26px);
          li {
            display: block;
            height: rem(36px);
          }
        }
        &.active {
          i {
            transform: rotateZ(0deg);
            transition: all 200ms ease;
          }
          ul {
            display: block;
          }
        }
      }
    }
    footer {
      position: absolute;
      bottom: rem(60px);
      width: 100%;
      max-width: rem(1170px);
      opacity: 0;
      transition: opacity 200ms ease;

      ul {
        display: block;
        text-align: center;
        padding: 0;
        li {
          display: inline-block;
          margin-right: rem(16px);
          font-size: rem(28px);
          a { color: white; }
        }
      }
    }
  }
}
