@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css";
@import "https://fonts.googleapis.com/css?family=Teko:300|Titillium+Web:300";

@function rem($size) {
  @return #{$size / 16px;}rem;
}

@function letterspacing($kerning, $pixelHeight) {
  $rem: $pixelHeight/16;
  $size: $kerning/1000;
  @return #{$rem*$size}rem;
}

* { box-sizing: border-box; }

html { font-size: 16px; }

body {
  padding: 0;
  margin:0;
  font-family: 'Titillium Web', sans-serif;
  font-size: rem(16px);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'teko', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

@import "nav";
